.reset_pass_dash {
  width: 100%;
  padding: 10% 0px;
  display: flex;
  justify-content: center;
  .otp-con {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    span {
      font-family: var(--font-secondary);
      color: #101820;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-align: left;
      margin-bottom: 30px;
      width: 350px;
    }
    .submit_btn {
      width: 350px;
      margin-top: 30px;
    }
  }
  .back_btn2 {
    display: none;
    align-items: center;
    gap: 4px;
    font-family: var(--font-primary) !important;
    font-size: 16px;
    font-weight: 500;
  }
  h3 {
    color: #000;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  input {
    height: 59px;
    width: 350px;
    border-radius: 10px;
    border: 1.2px solid #c4c4c4;
    background: rgba(255, 255, 255, 0.5);
    padding-left: 20px;
    font-weight: 600;
    font-size: 16px;
    &::placeholder {
      font-weight: 600;
      font-size: 16px;
    }
  }
  .send_otp{
    background: none;
    border: none;
    padding: 0;
    margin-top: 5px;
    font-family: var(--font-primary) !important;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-primary);
    text-decoration: underline;
  }
  .send_otp_active{
    color: green;
  }
  .back_btn {
    background: transparent;
    border: none;
    padding: 0;
    margin-bottom: 20px;
  }
  .reset-password-con {
    position: relative;
  }
  .reset-password-con button {
    background: transparent;
    border: none;
    position: absolute;
    right: 15px;
    top: 0px;
    bottom: 0px;
    transition: 0.2s;
    color: gray;
  }
  .reset-password-con button:hover {
    color: var(--color-secondary);
  }
}
@media (max-width: 576px) {
  .reset_pass_dash {
    .back_btn2 {
      display: flex !important;
    }
  }
}
