.header_login_con {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    padding: 0;
    border: none;
    width: 100%;
  .login_left_logo {
    height: 65px;
    img {
      height: 100%;
      object-fit: contain;
    }
  }
  h4 {
    margin-top: 4px;
    color: #8c8c8c;
    font-size: 16px;
    font-family: var(--font-secondary) !important;
  }
}
