.forgot-body-container {
  display: flex;
  min-height: 100vh;
  justify-content: space-between;
  .forgot_pass_wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .forgot-pass-con {
    width: 440px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    .backButton {
      display: flex;
      align-items: center;
      margin-top: 48px;
      margin-bottom: 24px;
      cursor: pointer;
      background: none;
      border: none;
      font-size: 16px;
      font-family: var(--font-secondary) !important;
      gap: 7px;
      margin-bottom: 34px;
      padding: 0;
    }
    .forgot-pass-header {
      font-family: var(--font-secondary);
      color: #000;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px; /* 133.333% */
      letter-spacing: -0.54px;
      margin-bottom: 8px;
    }

    .forgot-pass-desc {
      font-family: var(--font-secondary);
      color: #000;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 40px;
    }
    .forgot-pass-input {
      height: 48px;
      width: 100%;
      padding: 13px;
      border-radius: 10px;
      border: 1px solid #c4c4c4;
      background: rgba(255, 255, 255, 0.5);
      margin-bottom: 16px;
      color: #000;
      font-family: var(--font-secondary);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .otp-pass-input-con {
    display: flex;
    height: 50px;
  }

  .otp-pass-input {
    height: 45px;
    width: 43px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5);
    margin-bottom: 25px;
    margin-right: 10px;
    text-align: center;
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 20px;
  }

  .reset-pass-input {
    margin-bottom: 0px;
    margin-top: 12px;
    margin-top: 12px;
  }

  .merchantlogin-container {
    display: flex;
    justify-content: center;
    width: 314px;
    height: 80vh;
    align-items: center;
  }

  .merchantlogin-form {
    width: 100%;
  }

  .login-btn {
    width: 100%;
    margin-bottom: 10px;
  }

  .forgot-password-text {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    font-family: var(--font-secondary);
    color: #101820;
    margin-bottom: 30px;
  }

  .login-google-con {
    border-top: 1px solid gray;
    padding-top: 20px;
    text-align: center;
  }

  .google-login-btn {
    width: 100%;
    border-radius: 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    border: 1px solid #c4c4c4;
  }

  .google-login-btn-img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}

@media (max-width: 576px) {
  .forgot-body-container {
    .login_slider_con{
      display: none;
    }
    .forgot-pass-con {
      margin-top: 30px;
      width: 100%;
      padding: 0 7%;
    }
  }



  .forgot-pass-header {
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
  }

  .forgot-pass-desc {
    font-size: 16px;
  }

  .forgot-pass-btn {
    margin-top: 26px;
    font-size: 20px;
    font-weight: 600;
  }
}
