.email-integration-con {
    margin-top: 25px;
    padding-bottom: 30px;
    h4{
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 15px;
    }
    button {
      margin-top: 25px;
    }
  
    p {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 15px;
      color: gray;
      font-family: var(--font-secondary) !important;
    }
    label{
        font-size: 16px;
        font-weight: 500;
        color: gray;
        margin-bottom: 5px;
    }
    input{
        border: none;
        border: 1px solid gray;
        padding: 10px;
        border-radius: 10px;
        font-size: 16px;
        color: black;
        margin-bottom: 20px;
        &::placeholder{
            color: gray;
            font-size: 14px;
            font-weight: 500;
        }
    }
    
    .form-select-platform{
      width: 200px;
    }
    .app-password-con{
      position: relative;
      width: 250px;
      .app-password-input{
        width: 100%;
      }
      button{
        background: transparent;
        border: none;
        position: absolute;
        right: 10px;
        top: -15px;
        transition: 0.4s;
      }
      button:hover{
        color: var(--color-primary);
      }
    }
    .email-integration-con-header {
      margin-top: 30px;
      p {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 15px;
        color: gray;
      }
      a {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 15px;
        color: black;
        text-decoration: none;
        transition: .2s;
      }
      a:hover {
        color: var(--color-primary) !important;
      }
    }
  }
  