<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    .container {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      width: 400px;
      padding: 30px 50px;
    }
    h1 {
      font-family: sans-serif;
      font-weight: 800;
      margin: 0;
    }
    p {
      font-size: 26px;
      font-weight: 600;
    }
    span {
      font-size: 20px;
      font-weight: 500;
    }
  </style>
  <body>
    <div class="container">
      <h1>Mr Harry</h1>
      <p>harrytest@gmail.com</p>
      <span>+8801609882129</span>
    </div>
  <br>
Love digital business cards? Create your own with NSG! Share info, manage contacts, and stand out.
<a href="https://nsgcrm.com/">Get started here.</a>.
<br>
  </body>
</html>
