<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="width: 600px; border: 1px solid gray">
      <h1
        style="
          background: black;
          color: white;
          padding: 24px 33px;
          margin: 0;
          font-size: 30px;
          font-weight: 500;
          letter-spacing: 1.5px;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
            Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
            sans-serif;
        "
      >
        Thanks for your interest in boosting your business growth with NSG!
      </h1>
      <div style="padding: 33px">
        <p
          style="
            margin: 0;
            margin-bottom: 20px;
            font-size: 20px;
            font-weight: 400;
            font-family: system-ui, -apple-system, BlinkMacSystemFont,
              'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
              'Helvetica Neue', sans-serif;
          "
        >
          Hi!
        </p>
        <p
          style="
            margin: 0;
            margin-bottom: 20px;
            font-size: 20px;
            font-weight: 400;
            font-family: system-ui, -apple-system, BlinkMacSystemFont,
              'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
              'Helvetica Neue', sans-serif;
          "
        >
          NSG offers
          <span style="font-weight: 700"
            >online visibility and prospect management solutions,</span
          >
          designed with and for Financial Advisors.
        </p>
        <p
          style="
            margin: 0;
            margin-bottom: 20px;
            font-size: 20px;
            font-weight: 400;
            font-family: system-ui, -apple-system, BlinkMacSystemFont,
              'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
              'Helvetica Neue', sans-serif;
          "
        >
          Whether you wish to<span style="font-weight: 700">
            establish an online presence</span
          >
          or need a platform to<span style="font-weight: 700">
            manage your communications,</span
          >
          we have solutions for your every need, tailored to you!
        </p>
        <p
          style="
            margin: 0;
            margin-bottom: 20px;
            font-size: 20px;
            font-weight: 400;
            font-family: system-ui, -apple-system, BlinkMacSystemFont,
              'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
              'Helvetica Neue', sans-serif;
          "
        >
          <a
            style="
              text-decoration: none;
              color: #410099;
              font-weight: 700;
              font-family: system-ui, -apple-system, BlinkMacSystemFont,
                'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
                'Helvetica Neue', sans-serif;
            "
            href="https://nsgcrm.com/booking"
            target="_blank"
            >Book a Demo</a
          >
          as per your availability and let us find you a
          <span style="font-weight: 700"
            >solution that best fits your business needs!</span
          >
        </p>
        <p
          style="
            margin: 0;
            margin-bottom: 20px;
            font-size: 20px;
            font-weight: 400;
            font-family: system-ui, -apple-system, BlinkMacSystemFont,
              'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
              'Helvetica Neue', sans-serif;
          "
        >
          You may also check out our
          <a
            style="
              text-decoration: none;
              color: #410099;
              font-weight: 700;
              font-family: system-ui, -apple-system, BlinkMacSystemFont,
                'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
                'Helvetica Neue', sans-serif;
            "
            href="https://nsgcrm.com/booking"
            target="_blank"
            >Packages</a
          >
          to get a glimpse of the tool sets that we offer!
        </p>
        <a
          href="https://nsgcrm.com/booking"
          target="_blank"
          style="
            display: inline-block;
            text-align: center;
            width: 45%;
            padding: 13px 0;
            background: #410099;
            color: white;
            border-radius: 10px;
            border: none;
            margin: 30px 20px 40px 0;
            font-size: 20px;
            font-weight: 600;
            text-decoration: none;
          "
        >
          Book a Demo
        </a>
        <a
          href="https://nsgcrm.com/pricing"
          target="_blank"
          style="
            display: inline;
            text-align: center;
            width: 50%;
            padding: 13px 60px;
            border: 1px solid #410099;
            color: #410099;
            border-radius: 10px;
            margin-top: 30px;
            margin-bottom: 40px;
            font-size: 20px;
            font-weight: 600;
            text-decoration: none;
          "
        >
          View Packages
        </a>
        <p
          style="
            margin: 0;
            margin-bottom: 20px;
            font-size: 20px;
            font-weight: 400;
            font-family: system-ui, -apple-system, BlinkMacSystemFont,
              'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
              'Helvetica Neue', sans-serif;
          "
        ><br>
Love digital business cards? Create your own with NSG! Share info, manage contacts, and stand out.
<a href="https://nsgcrm.com/">Get started here.</a>.
<br>
          Regards <br />
          Team NSG
        </p>
      </div>
    </div>
  </body>
</html>
