<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to NSG</title>
</head>
<body>
    <p>Welcome to NSG,{{name}}.</p>

    <p><strong>Your Digital Business Card is Ready!</strong></p>

    <p>📹 Watch the "How To Use" Video:</p>
    <p>We've prepared a brief video to guide you through making the most out of your card. 
    <a href="https://www.youtube.com/watch?v=9yTDqOk-n2o" target="_blank">Watch it here!</a></p>

    <p><strong>Ready to Dive In?</strong></p>
    <p><a href="https://nsgcrm.com/login" target="_blank">Sign in now</a> to start using NSG! We believe our platform will help you elevate your networking game and turn prospects into clients.</p>

    <p>Would you prefer us to help you with the initial setup? <a href="https://nsgcrm.com/booking" target="_blank">Book a Demo with us</a> — we’re always here to help!</p>

    <p>Stay tuned for your leap into the digital future!</p>

    <p>Warm Regards,<br>
    Nikhil Pawar<br>
    NSG</p>
</body>
</html>
