
.add-content-bar-container {
  display: flex;
  width: 100%;
  padding: 24px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #f7f7f7;
  border-radius: 12px;
  margin-top: 24px;
  box-sizing: border-box;
  overflow-x: auto;
  width: 656px;
}

.add-content-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 76px;
  height: 84px;
  flex-shrink: 0;
  background-color: transparent;
  border: none;
  border-right: 1px solid #e1e1e1;
  cursor: pointer;
  padding: 0;
  transition: background-color 0.2s ease;
}


.add-content-button.disabled {
  background: transparent !important;
  cursor: not-allowed;
  border-right: 1px solid #e1e1e1 !important;

  &:hover {
    background: transparent !important;
    border-right: 1px solid #e1e1e1 !important;
  }
  
  .add-content-icon {
    color: #a0a0a0 !important;
  }
  .add-content-label {
    color: #a0a0a0 !important;
  }
}

.add-content-button:last-child {
  border-right: none;
}

.add-content-button:hover:not(.disabled) {
  background-color: #f0f0f0;
  border-radius: 8px;
}

.add-content-button .add-content-icon {
  width: 24px;
  height: 24px;
  color: #434343;
  font-size: 24px !important;
}

.add-content-button .add-content-label {
  color: #434343;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.6px;
  white-space: pre-line;
}

@media (max-width: 576px) {
  .add-content-bar-container {
    flex-direction: column;
    align-items: stretch;
    padding: 24px;
    gap: 0;
    background-color: #f7f7f7;
            width: calc(100% - 16px) !important;
        min-width: auto !important;
        height: auto !important;
        margin: 8px auto !important;

  }

  .add-content-button {
    width: 100%;
    height: auto;
    padding: 20px 0;
    border-right: none;
    border-bottom: 1px solid #e1e1e1;
    border-radius: 0;
  }
  
  .add-content-button.disabled {
    border-bottom: 1px solid #e1e1e1 !important;
    border-right: none !important;
    
    &:hover {
      background: transparent !important;
      border: 1px solid #e1e1e1 !important;
    }
  }

  .add-content-button:last-child {
    border-bottom: none;
  }

  .add-content-button:hover:not(.disabled) {
    border-radius: 0;
  }
}


@media (max-width: 786px) {
  .add-content-bar-container {
    flex-direction: column;
    align-items: stretch;
    padding: 24px;
    gap: 0;
    background-color: #f7f7f7;
    width: calc(100% - 16px) !important;
    min-width: auto !important;
    height: auto !important;
    margin: 8px auto !important;
  }

  .add-content-button {
    width: 100%;
    height: auto;
    padding: 20px 0;
    border-right: none;
    border-bottom: 1px solid #e1e1e1;
    border-radius: 0;
  }
  
  .add-content-button.disabled {
    border-bottom: 1px solid #e1e1e1 !important;
    border-right: none !important;
    
    &:hover {
      background: transparent !important;
      border: 1px solid #e1e1e1 !important;
    }
  }

  .add-content-button:last-child {
    border-bottom: none;
  }

  .add-content-button:hover:not(.disabled) {
    border-radius: 0;
  }
}
